# Copier ce fichier en .env sur le serveur et remplir les valeurs

# ── Domaines ──
COOKIE_DOMAIN=uckin.ac.cd
FRONTEND_URL=https://uckin.ac.cd
AUTH_PUBLIC_URL=https://api.uckin.ac.cd
MAIN_SITE_URL=https://uckin.ac.cd

# ── Base de données ──
POSTGRES_USER=uckin_user
POSTGRES_PASSWORD=un_mot_de_passe_fort
POSTGRES_DB=uckin_auth

# ── NextAuth (site vitrine) ──
AUTH_SECRET=generer_avec_openssl_rand_hex_32
AUTH_GOOGLE_ID=175069289341-intiohsb132cea70fa6mhr3jeo5p81la.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=votre_secret_google
